body{
    width:fit-content;
}

/* title section */

#title{
    background-image: linear-gradient(to bottom right, red, yellow);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 75%);
}

.container{
    text-align: center;
    margin-top: 2%;
}

.navbar-brand{
    margin: 2% 5%;
    font-weight: 800;
    font-size: 2.2rem;
}

.nav-item{
    margin: 0.5% 1.5%;
    font-size: 1.2rem;
}

#tagline{
    font-weight: 900;
    font-size: 3rem;
    color: antiquewhite;
    font-style: italic;
}

.calculate-btn{
    margin-top: 5%;
    padding: 0.5% 5%;
}

/* Steps to Do Section */

#Steps{
    margin: 5% 2%;
}

.Step{
    text-align: center;
    margin: 5% 1%;
}

.Step h3{
    font-style: oblique;
}

.Step p{
    color: gray;
}

.fas{
    margin: 1.5%;
}

.fab{
    margin: 1.5%;
}

.fas:hover{
    color:rgb(255, 73, 28) ;
}

.fab:hover{
    color:rgb(255, 73, 28) ;
}