body{
    width: fit-content;
    min-width: 100%;
}

/* title section */
#title{
    background-image: linear-gradient(to bottom right, red, yellow);
}

.tag-container{
    text-align: center;
    margin-top: 2%;
}

.navbar-brand{
    margin: 2% 5%;
    font-weight: 800;
    font-size: 2.2rem;
}

.nav-item{
    margin: 0.5% 1.5%;
    font-size: 1.2rem;
}

#tagline{
    font-weight: 900;
    font-size: 3rem;
    color: antiquewhite;
    font-style: italic;
}

.calculate-btn{
    margin-top: 5%;
    padding: 0.5% 0.5%;
}

/* Steps to Do Section */

#Steps{
    margin: 5% 2%;
}

.Step{
    text-align: center;
    margin: 5% 1%;
}

.Step h3{
    font-style: oblique;
}

.Step p{
    color: gray;
}

.fas{
    margin: 1.5%;
}

.fab{
    margin: 1.5%;
}

.fas:hover{
    color:rgb(255, 73, 28) ;
}

.fab:hover{
    color:rgb(255, 73, 28) ;
}

/* Calculator */

.details{
    margin: 5%;
    border: 1px solid wheat;
    padding: 2%;

}

.details .fas,.details .fab{
    color: antiquewhite;
    display: inline;
}
.details .fas:hover{
    color: antiquewhite;
}
.details h2{
    font-weight: 900;
    font-size: 2rem;
    color: antiquewhite;
    font-style: italic;
    display: inline;
}

.details h3{
    margin: 1%;
    padding: 1.5%;
    font-weight: 900;
    font-size: 1.5rem;
    color: antiquewhite;
    
}

.details input{
    margin: 2%;
    padding: 3%;
    text-align: center;
}
.details .row{
    margin: 2%;
    padding: 2%;
}

.details button{
    margin: auto;
    padding: 1%;
}

#Calculator{
    background-image: linear-gradient(to bottom right, red, yellow);
    padding: 5%;
    text-align: center;
}

#validation-feedback{
    color: red;
}
.card{
    margin: auto;
    text-align: center;
    max-width: 850px;
}

.hidden-card{
    display: none;
}

.result{
    margin: 3%;
    padding: 2%;
}

#method{
    margin: auto;
    padding: 2%;
    text-align: center;
}
#method .heading{
    font-weight: 700;
    font-size: 2rem;
    margin: auto;
    padding: 1%;
}

#method .content{
    font-size: 1.5rem;
    margin: auto;
    padding: 2%;
}

footer{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}